@tailwind base;
@tailwind components;
@tailwind utilities;

.page-heading {
    @apply font-gfs_didot font-extrabold text-2xl sm:text-3xl;
}

.add-btn {
    @apply bg-orange-600 hover:bg-orange-800 px-4 py-2 rounded-lg text-white;
}

.edit-btn {
    @apply bg-indigo-600 hover:bg-indigo-900 text-white p-2 rounded-lg;
}

.delete-btn {
    @apply bg-red-600 hover:bg-red-900 text-white p-2 rounded-lg;
}

.table-heading {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
}

.table-data {
    @apply px-6 py-2 whitespace-nowrap;
}

.login-input-box {
    @apply flex flex-col gap-1;
}

.input {
    @apply border border-gray-300 bg-transparent rounded-lg py-2 px-4 text-sm;
}

.label {
    @apply text-sm;
}

.input-box {
    @apply space-y-1;
}

.dashboard-input {
    @apply mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.dashboard-label {
    @apply block text-sm font-medium text-gray-700;
}

.dashboard-submit-btn {
    @apply mt-2 w-full bg-indigo-600 text-white px-4 py-2 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}